<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <form [formGroup]="sceneForm" (ngSubmit)="onSubmit()">

                    <fieldset [disabled]="isSubmitting">

                        <fieldset class="form-group">
                            <label>Pavadinimas</label>
                            <input class="form-control form-control-lg editor-page__title" formControlName="title"
                                type="text" />
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Trumpas Aprašymas</label>
                            <textarea class="form-control" formControlName="description" rows="3"></textarea>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Scenos nuoroda</label>
                            <input class="form-control" formControlName="scene" type="text" />
                        </fieldset>

                        <fieldset class="form-group">
                            <div *ngIf="imageUrl">
                                <label>Esamas paveiksliukas:</label>
                                <div>
                                    <a [href]="imgPath + '/' + imageUrl" target="_blank" rel="noopener noreferrer">{{ imageUrl }}</a>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label *ngIf="!imageUrl">Paveiksliukas</label>
                            <label *ngIf="imageUrl">Keisti paveiksliuką</label>
                            <input class="form-control-file" (change)="onFileChange($event)" type="file" name="file" />
                        </fieldset>

                        <div *ngIf="sceneForm.get('img')?.value && sceneForm.get('img').errors?.fileValidator"
                            class="cross-validation-error-message alert alert-danger">
                            Blogas failo tipas. Galimi variantai jpg | png
                        </div>

                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path [attr.d]="iconMark" />
                            </svg><span>Laukai privalo būti užpildyti</span>
                        </p>



                        <button class="btn btn-lg btn-primary" type="submit" [disabled]="!sceneForm.valid">
                            <ng-container *ngIf="!imageUrl; else Resave">Išsaugoti</ng-container>
                            <ng-template #Resave>Atnaujinti</ng-template>
                        </button>

                        <button class="btn btn-lg btn-outline-primary editor-page__delete" type="button"
                            *ngIf="imageUrl" (click)="openModal(delete)">
                            Naikinti
                        </button>
                        <ng-template #delete>
                            <div class="modal-body text-center">
                                <p>Ar tikrai norite panaikinti sceną</p>
                                <button type="button" class="btn btn-default" (click)="confirmDelete()">Taip</button>
                                <button type="button" class="btn btn-primary" (click)="decline()">Ne</button>
                            </div>
                        </ng-template>

                    </fieldset>
                </form>
            </div>

            <alert *ngIf="success" class="editor-page__alert" type="success" dismissOnTimeout="10000" dismissible="true">Scena sėkmingai įkelta / atnaujinta</alert>

        </div>
    </div>
</div>