.editor-page {
    &__title {
        font-weight: 600;
    }

    &__delete {
        margin: 0 1rem;
    }

    &__alert {
        margin-top: 2rem;
    }

}

label {
    color: #6c757d;
}

svg {
    margin-top: 6px;
    fill: red
}

.alert {
    margin-top: 1rem;
}

.progress {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
