<nav class="navbar bg-light flex-md-nowrap p-0">
    <a class="navbar-brand" [routerLink]="[ '/' ]">
        <div class="nav__logo">
            <img class="header__img" src="./assets/logo.svg" alt="logo"> <span class="nav__title">3D</span>
        </div>
    </a>

    <ng-container *ngIf="(isAuthed$ | async)">
        <ul class="navbar-nav flex-row ml-md-auto d-md-flex navbar-nav__profile">
            <li class="nav-item dropdown">
                <div dropdown>
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" id="bd-versions" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        <ng-container *ngIf="(currentUser$ | async) as user">
                            <span class="nav__user-picture">
                                <span class="nav__user-name">{{ user.name }}</span> <img [src]="imgPath + '/' + user?.img"
                                    alt="profile">
                            </span>
                        </ng-container>
                    </a>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" routerLink="/admin/dashboard/profile">Profilis</a></li>
                        <li role="menuitem">
                                <a class="dropdown-item btn btn-label-brand btn-upper btn-bold" (click)="logout()">Atsijungti</a>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
    </ng-container>


    <!-- Currently not using this approach, redirecting to login page instead -->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <ng-container *ngIf="!(isAuthed$ | async)">
                <a class="btn btn-label-brand btn-upper btn-bold" routerLink="/login">Login</a>
            </ng-container>
        </li>
    </ul>
</nav>