<nav *ngIf="true">
    <button class="hamburger hamburger--elastic" [class.is-active]="isSidebarActive" type="button" aria-label="Menu"
        aria-controls="navigation" (click)="toggleSidebar()" aria-expanded="true/false">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</nav>
<div class="sidebar--left" [@sidebarAnimation]="isSidebarActive ? 'open' : 'close'">
    <v3d-header></v3d-header>
    <v3d-scenes-list (changeScene)="activeScene($event)"></v3d-scenes-list>
</div>

<div class="scene__container" >
    <router-outlet></router-outlet>
</div>