$hamburger-padding-x           : 8px;
$hamburger-padding-y           : 8px;
$hamburger-layer-width         : 18px;
$hamburger-layer-height        : 2px ;
$hamburger-layer-color         : #163759;

@import '~hamburgers/_sass/hamburgers/hamburgers';
