// Override bootstrap variables

$red: #e72d34;

$darkBlue: #044090;

$theme-colors: (
  "primary": $red,
  "danger": #ff4136
);

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-xl:            .8rem !default;

// New variables
$white: #fff; 
$margin-top: 1rem;
$btn-link-color: $white;
$button-link-hover-color: $white;

$grid-columns:      12;
$grid-gutter-width: 30px;

$bgColor: rgba($darkBlue, 0.9);