// Override bootstrap variables

$red: #e72d34;

$darkBlue: #02214a;

$theme-colors: (
  "primary": $red,
  "danger": #ff4136
);

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-xl:            .8rem !default;

// New variables
$white: #fff; 
$margin-top: 1rem;
$btn-link-color: $white;
$button-link-hover-color: $white;

$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);


$bgColor: rgba($darkBlue, 0.8);


// TEMP
$container-max-widths: (
  sm: 960px,
  md: 960px,
  lg: 960px,
)