@import 'variables';
@import 'blocker';
@import 'hburgers';
@import 'mixins';
@import '~bootstrap/scss/bootstrap';

// Global
a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  text-decoration: none;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.btn-link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;
    text-decoration: $link-decoration;
  
    @include hover {
      color: $button-link-hover-color;
      text-decoration: none;
    }


  
    &:focus,
    &.focus {
      text-decoration: none;
      box-shadow: none;
    }
  
    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
      pointer-events: none;
    }
  
}
  
.card {
    background: none;
    overflow: hidden;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.35);
}

.panel-heading .btn {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

// Breacrumb
.breadcrumb {
  background: none;
}
.breadcrumb-item::before {
  display: none;
  content: none;
}

.breadcrumb-item {
  padding-left: 0;
  padding-right: 0.5rem;
}