@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap&subset=latin-ext');

@import 'variables';
@import 'grid';
@import 'blocker';
@import 'hburgers';
@import 'mixins';
@import 'animation';
@import '~bootstrap/scss/bootstrap';
@import '~swiper/swiper';

// regular style toast
@import '~ngx-toastr/toastr';

// Global
body, h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  text-decoration: none;
}

h1 {
  color: #fff;
}


.navbar-nav .dropdown-menu {
  position: absolute;
}

.panel .btn-link {
  color: rgba($dark, 0.7);
}
.panel-open .btn-link {
  color: $dark;
}

.btn {
  font-weight: 600;
}

.btn-link {
    font-weight: $font-weight-normal;
    color: $dark;
    text-decoration: $link-decoration;
  
    @include hover {
      color: $dark;
      text-decoration: none;
    }


  
    &:focus,
    &.focus {
      text-decoration: none;
      box-shadow: none;
    }
  
    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
      pointer-events: none;
    }
  
}

.panel-heading {
  z-index: 1;

  .btn {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    font-weight: 600;
    line-height: 1.4;
    font-size: 15px;
    letter-spacing: -0.5px;
    -webkit-font-smoothing: antialiased;
  }
  
}



.sidebar--left .panel-heading {

  .btn {
    padding-right: 15px;
  }
  
}

.sidebar--left header {
  background: $sidebarHeaderlight;
  background: linear-gradient(0deg, rgba(44,53,61,1) 0%, rgba(44,53,61,0.85) 100%);
}

// Breacrumb
.breadcrumb {
  background: none;
}

.breadcrumb-item::before {
  display: none;
  content: none;
}

.breadcrumb-item {
  padding-left: 0;
  padding-right: 0.5rem;
}

// Badge
.badge-primary {
  font-size: 60%;
}

// Cards
.accordion__main {
  .accordion__main__bg:first-child .card {
    border: 0;
  }

}

.card-header {
  padding: 0.75rem 20px;
  background: none;
  border-bottom: 0;
}

.card-body {
  padding: 10px;
}

.card {
  background: none;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);

}

// Hambuerger icon
.hamburger {
  background-color: $sidebarHeaderlight !important;
  background: linear-gradient(0deg, #3c444c 0%, #4b5259 100%) !important;
}
.hamburger:hover {
  opacity: 1 !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, 
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}


// Swiper / mobile
.swiper-container {
  overflow-x: hidden
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -5px !important;
  bottom: inherit;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  --swiper-theme-color: #e82b35;
}

.vilnius-block .block-ui-wrapper {
  background: rgba(36, 43, 49, 0.8) !important;
}