<h3>Vartotojai</h3>

<div class="users__header container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">Vartotojas</div>
        <div class="col-md-2">Rolė</div>
        <div class="col-md-3">El. paštas</div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="users-lists container">
    <ng-container *ngFor="let user of users$ | async">
        <div class="row users-lists__item">
            <div class="col-md-2">
                <div class="users-lists__img">
                    <img [src]="imgPath + '/' + user.img" alt="Vartotojas">
                </div>
            </div>
            <div class="col-md-3">{{ user.name }}</div>
            <div class="col-md-2">{{ user.role }}</div>
            <div class="col-md-3">{{ user.email }}</div>
            <div class="col-md-2">
                <button *ngIf="user.role!=='sAdmin'" class="btn" (click)="openModal(delete)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
                        <path [attr.d]="iconRemove" />
                    </svg>
                </button>
                <ng-template #delete>
                    <div class="modal-body text-center">
                        <p>Ar tikrai norite panaikinti vartotoją</p>
                        <button type="button" class="btn btn-default" (click)="confirmDelete(user.id)">Taip</button>
                        <button type="button" class="btn btn-primary" (click)="decline()">Ne</button>
                    </div>
                </ng-template>
            </div>

        </div>
    </ng-container>


    <ng-container *ngIf="usersNotAuthed$| async as users">
        <h4 *ngIf="users.length">Užregistruoti, bet nepatvirtinę tapatybės</h4>
    </ng-container>


    <ng-container *ngFor="let user of usersNotAuthed$ | async">
            <div class="users-lists--not-authed">
                <a [href]="user.email">{{ user.email }}</a> - užregistruotas
                <button *ngIf="user.role!=='sAdmin'" class="btn" (click)="openModal(delete)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
                        <path [attr.d]="iconRemove" />
                    </svg>
                </button>
                <ng-template #delete>
                    <div class="modal-body text-center">
                        <p>Ar tikrai norite panaikinti vartotoją</p>
                        <button type="button" class="btn btn-default" (click)="confirmDelete(user.id)">Taip</button>
                        <button type="button" class="btn btn-primary" (click)="decline()">Ne</button>
                    </div>
                </ng-template>
            </div>
    </ng-container>
    
</div>