@import '~src/styles/variables';

.accordion {
    &__main {
        border-radius: $border-radius;
        overflow: hidden;
        margin: 10px;
    }

    &__main__bg {
        position: relative;
        background-size: cover;
        background-position-x: center;
    }

    &--active {
        position: absolute;
        color: #fff;
        right: 4px;
        top: 2px;
        z-index: 1;
    }
}

.accordion__button {
    margin-top: $margin-top;

    button {
        font-size: 16px;
        font-weight: 500;
        background: none;
    }

}

p {
    color: $white;
}
