@import '~bootstrap/scss/bootstrap';

h1 {
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 30px;

    @include media-breakpoint-up(sm) {
        font-size: 32px;
    }
}

.header {
    &__logo {
        position: relative;
        display: inline-block;
        height: 100px;
        width: auto;
        z-index: 1;
    }

    &__img {
        padding: 20px 10px 10px 20px;
        width: 90px;
        margin-top: 3px;
        margin-left: 20px;

        @include media-breakpoint-up(sm) {
            font-size: 32px;
            margin-left: 0;
        }
    }

    &__title {
        float: right;
        padding: 30px 10px 0;
    }
}