@import '~bootstrap/scss/bootstrap';

h1 {
    color: #e72d34;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 20px;

    @include media-breakpoint-up(sm) {
        font-size: 32px;
    }
}

.header {
    &__logo {
        display: inline-block;
        height: 100px;
        width: auto;
    }

    &__img {
        margin-left: 20px;
        padding: 20px 10px 10px 20px;
        width: 100px;
    }

    &__title {
        float: right;
        padding: 30px 10px 0;
    }
}