<div *blockUI="'iframe__section'">

    <ng-container *ngIf="(scene$ | async) as scene">
        <ng-container *ngIf="cookieVilniusService.cookieMobile">
            <iframe name="frame" id="frame" [src]="scene.scene | safeUrl" frameborder="0" scrolling="no"
                (load)="resizeIframe($event)"></iframe>
        </ng-container>
    </ng-container>

</div>

<ng-template #mobile>
    <div class="modal-body text-center">
        <p>Įspėjame, kad 3D Vilnius turinio peržiūra gali stipriai įtakoti interneto duomenų suvartojimą.</p>
        <p>Rekomenduojame naudotis WiFi ryšiu.</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Tęsti</button>
    </div>
</ng-template>